*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
   
body{
   font-family: 'Mulish';
   color: #E5E5E5;
   height:auto;
   width: 100%;
   padding: 0;
   margin: 0;
}
.logo{
  width:30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4rem;
  margin-bottom: 30px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  width:100%;
  z-index:999;
  margin-top: 40px;
}
.menu {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  margin-right: 4rem;
}
.menu ul {
  white-space: nowrap;
}
.menu ul li {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}
.menu li a {
  text-decoration: none;
  color: #4B4B4B;
}
.logo img {
  width: 1.5rem;
}
.login-btn{
  background: #44AA95;
  width: 110px;
  height: 35px;
  border-radius: 25px;
  border: none;
  color:white;
}
.login-btn:hover{
    border: 1px solid #44AA95;
    background-color: #44AA95;
    color: #FFFFFF;
  }  
.signup-btn{
  background: #FFFFFF;
  width: 110px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #44AA95;
  color: #44AA95;
}
.landing{
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
}
.heading-title{
  margin-top: 10rem;
  margin-left: 4rem;
}
.ball{
  font-size: 48px;
  font-weight: 200;
  color: #333333;
}
.land{
  font-size: 48px;
  color: #333333;
}
.heading-text{
  color: #333333;
  margin-left: 4rem;
}
.header-img{
  position: relative;
  height: 100vh;
  width: 45%;
}
.oval{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.gradient{
  background: linear-gradient( #B2D8D0 -8.57%, rgba(227, 244, 241, 0.27) 76.89%);
}
.first-oval{
  height: 415px;
  width: 230px;
  border-radius: 140px;
  margin-right: -18rem;
  margin-top: -20rem;
}
.second-oval{
  width: 160px;
  height: 185px;
  border-radius: 80px;
  margin-left: 8rem;
  margin-top: -7.0rem;
}
.third-oval{
  width: 160px;
  height: 185px;
  border-radius: 80px;
  margin-left: -10rem;
  margin-top: -5.5rem;
}
.first-oval, .second-oval, .third-oval{
  z-index: -1;
}
.watch-btn{
  width: 155px;
  height: 46px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background: #44AA95;
  border-radius: 20px;
  border: none;
  margin-left: 4rem;
}
.product-b{
  background: #E5E5E5;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  height: 528px;
  width: 360px;
  border-radius: 16px;
  background-color: #FFFFFF;
  margin: 10px;
  box-shadow: 0px 4px 15px 0px #000000 10%;
}
.card-img1{
  height: 216px;
  width: 360px;
  border-radius: [object Object]px;
  background-image: url("https://i.ibb.co/dJ0FQhj/Jersey-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img1 i{
  font-size: 2rem;
  background-color: #FFFFFF;
}
.card-img2{
   height: 216px;
  width: 360px;
  border-radius: [object Object]px;
  background-image: url("https://i.ibb.co/4KMSvtn/Tortellini-Photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img3{
   height: 216px;
  width: 360px;
  border-radius: [object Object]px;
  background-image: url("https://i.ibb.co/xS86ygN/Tortellini-Photo-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-content{
  padding: 5px;
}
.jersey-text{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.jersey-text h1{
  color: #081F32;
  font-family: 'DM Serif Display';
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
}
.dot {
  height: 25px;
  width: 25px;
 background: #FFC22B;
  border-radius: 50%;
  display: inline-block;
  }
  .card-content p{
  color: #6E798C;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  margin-top: 2rem;
  letter-spacing: 0.06rem;
}
.details{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  color: #A5ADBB;
  font-weight: 600;
  font-size: 16px;
}
.price-box{
  font-family: 'DM Serif Display';
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.current-price{
  color: #081F32;
  font-size: 28px;
  font-weight: normal;
}
.old-price{
  color: #F8593B;
  font-size: 20px;
  text-decoration: line-through;
}
.btn-order{
  background: #44AA95;
  font-family: 'Open Sans';
  width: 114px;
  height: 44px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
}
.body-login{
  background-image: linear-gradient(to right, #44AA95
,  #44AA95
 58%, #FFFFFF 50%);
  background-attachment:fixed;
  background-repeat: no-repeat;
}
.login-header{
  font-family: 'Montaga';
  margin-left: 5rem;
  margin-top: 8rem;
}
.login-h1{
  font-size: 65px;
  font-weight: 400;
  text-align: left;
}
.login-header p{
  margin-top: 0.5rem;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.login-page-container{
  display: flex;
  justify-content: space-between;
}
.login-page-image{
  width:713px;
  height: 527px;
  margin-left: 17.2rem;
  margin-top: -17rem;
}
.formbox{
  margin-top: -12.5rem;
  margin-right: 5rem;
  height: 350px;
  width: 390px;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
  color: #CECECE;
}
.formbox form{
  padding: 3rem;
  margin-top: 2rem;
}
#txtbox{
  width: 305px;
  height: 43px;
  background: #EFEFEF;
  border-radius: 7px;
  border: none;
}
#txtbox2{
  width: 305px;
  height: 43px;
  background: #EFEFEF;
  border-radius: 7px;
  border: none;
}
.btn-login{
  margin-top: 1.5rem;
  width: 305px;
  height: 43px;
  color: #FFFFFF;
  background: #FE9C08;
  border-radius: 7px;
  border: none;
}